.title{
    background-color: cadetblue;
    color: darkblue;
    text-align: center;
    padding: 20px;

}

.green{
    background-color: crimson;
    color: black;
    text-align: center;
    padding: 20px;
    
};
.about{
    background-color: bisque;
    color: coral;
    text-align: center;
    padding: 20px;


    
};