/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/service/sevice.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.sevice_service___mw26{
    color: aquamarine;
    background-color: blueviolet;
    padding: 20px;
    text-align: center;
};

.sevice_footer__8kuHa{
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 20px;

};

.sevice_title__9KQ7u{
    background-color: blanchedalmond;
    color: darksalmon;
    text-align: center;
    padding: 20px;
};

