/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/about/about.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.about_title__ZvvJk{
    background-color: cadetblue;
    color: darkblue;
    text-align: center;
    padding: 20px;

}

.about_green__Cjf_W{
    background-color: crimson;
    color: black;
    text-align: center;
    padding: 20px;
    
};
.about_about__zxZUz{
    background-color: bisque;
    color: coral;
    text-align: center;
    padding: 20px;


    
};
