/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/contact/contact.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.contact_header__t971_{
    background-color: black;
    color: bisque;
    text-align: center;
    padding: 20px;

};

.contact_container__cCpH8{
    background-color: cornflowerblue;
    color: coral;
    text-align: center;
    padding: 20px;
};
